<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="logAdvisor" class="com.gether.research.aop.LogAdvisor"></bean>
  <bean id="userService" class="com.gether.research.service.impl.UserServiceImpl"></bean>

  <bean id="testProxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="targetName">
      <value>userService</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>logAdvisor</value>
      </list>
    </property>
  </bean>
</beans>